<div id="chat-container">
    <div id="messages"></div>
    <div id="chat-input">
        <div id="file-input-container" class="pt-2">
            <input type="file" id="file-input" style="display: none;">
            <button id="file-btn"><i class="fas fa-paperclip"></i></button>
        </div>
        <textarea type="text" id="input-message" placeholder="Введите сообщение..." rows="5" disabled></textarea>
        <div id="send-btn-container" class="pt-2">
            <button id="send-btn"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
    <div id="file-preview"></div>
</div>