{#<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>#}
<script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>

<script>
    const socket=io('/chat')
    const secureSocket=io('/secure_chat', {transports: ['websocket']})
    const chatContainer = document.getElementById('chat-container');
    const messagesContainer = document.getElementById('messages');
    const inputMessage = document.getElementById('input-message');
    const chatInput = document.getElementById('chat-input');
    const sendBtn = document.getElementById('send-btn');
    const fileBtn = document.getElementById('file-btn');
    const fileInput = document.getElementById('file-input');
    const filePreview = document.getElementById('file-preview');
    const assistantTyping = document.getElementById('assistant-typing');
    const fillInfoModal = new bootstrap.Modal('#fillInfoStaticBackdrop', {})
    let currentCallback = ''
    let userEmail = ''

    const md = markdownit({
        html: true,
        linkify: true,
        typographer: true,
    })

    let fileToSend = null;

    secureSocket.on('connect', () => {
        loadMessages(clear=false);
        $(chatInput).removeAttr('disabled');
    });
    secureSocket.on('disconnect', () => {
        $(chatInput).prop('disabled', true);
    });
    secureSocket.on('response', socketMessageResponse);
    secureSocket.on('naitaAction', socketNaitaAction);
    secureSocket.on('fillInfo', socketMessageFillInfo);
    secureSocket.on('showRegisterDlg', ()=>{
        document.querySelector('#user-info a').click();
    })

    function socketMessageResponse(event) {
        assistantTyping.style.display = 'none';
        if (!event.disable_input) {
            $(chatInput).removeAttr('disabled');
            $(chatInput).find('textarea').focus();
        }
        if (event.type === 'text') {
            appendMessage(event);
        } else if (event.type === 'file') {
            {#appendMessageWithFile({ name: event.fileName, type: event.contentType || 'application/octet-stream', data: event.content }, event.comment, 'incoming');#}
        }
        currentCallback = event.callback;
        userEmail = event.email
    }

    function socketNaitaAction(event) {
        assistantTyping.innerText = event.text;
        assistantTyping.style.display = 'block';
    }

    function socketMessageFillInfo(event) {
        fillInfoModal.show();
    }

    secureSocket.on('reload', (event) => {
        window.location.reload();
    });

    secureSocket.on('hh_resume_reviewing', (event) => {
        assistantTyping.innerText = 'читаю ваше резюме на ХХ...';
        assistantTyping.style.display = 'block';
    });

    secureSocket.on('analytics', (event) => {
        assistantTyping.innerText = 'анализирует профиль...'
        assistantTyping.style.display = 'block';
    });

    secureSocket.on('profile-filled', (event) => {
        document.getElementById('user-avatar').classList.add('profile-filled')
    })

    secureSocket.on('coincidences-done', (event) => {
        document.getElementById('user-avatar').classList.remove('profile-filled')
        document.getElementById('user-avatar').classList.add('coincidences-done')
    })

    secureSocket.on('messageBtnClickReceived', (event) => {
        let btns = document.querySelectorAll(`.message-btn[data-mid="${event.mid}"]`)
        btns.forEach(btn => {
            btn.remove()
        })
    });

    async function loadMessages(clear=true) {
        if (clear)
            $(messagesContainer).empty();
        const response = await fetch('messages', {method: 'GET'});
        const messages = await response.json();
        messages.forEach(message => {
            if (message.type === 'text') {
                appendMessage(message);
            } else if (message.type === 'file') {
                {#appendMessageWithFile({ name: message.fileName, type: message.contentType || 'application/octet-stream', data: message.content }, message.comment, 'incoming');#}
            }
        });
    }

    // Отправка текстового сообщения
    function sendMessage(disableAnswer=false) {
        const message = inputMessage.value.trim();
        $(chatInput).attr('disabled', true);
        $(chatInput).find('textarea, input, select, button').blur();
        if (message !== '' || fileToSend) {
            if (fileToSend) {
                appendMessageWithFile(fileToSend, message, 'outgoing');
                socket.send({ type: 'file', content: fileToSend.data, fileName: fileToSend.name, comment: message });
                fileToSend = null;
                filePreview.textContent = '';
            } else {
                appendMessage({ type: 'text', text: message, sender_id: 'user', callback: currentCallback, email: userEmail});
                secureSocket.send({
                    type: 'text',
                    content: message,
                    callback: currentCallback,
                    email: userEmail,
                    disableAnswer: disableAnswer
                });
            }
            inputMessage.value = '';
        }
    }

    sendBtn.addEventListener('click', sendMessage);
    inputMessage.addEventListener('keydown', (event) => {
        if ((event.key === 'Enter' || event.key === 'NumpadEnter') && (event.metaKey || event.ctrlKey)) {
            event.preventDefault();
            sendMessage();
        }
    });

    // Отправка файла
    fileBtn.addEventListener('click', () => {
        fileInput.click();
    });

    fileInput.addEventListener('change', () => {
        const file = fileInput.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = () => {
                fileToSend = {
                    name: file.name,
                    data: reader.result,
                    type: file.type || 'application/octet-stream'
                };
                filePreview.textContent = `${file.name}`;
            };
            reader.readAsDataURL(file);
        }
    });

    // Функция добавления сообщения в интерфейс чата
    function appendMessage(message) {
        console.log(message);
        let messageText = message.text
        let messageType = message.sender_id ? 'outgoing' : 'incoming'
        let messageButtons = message.btns
        let messageCallback = message.callback
        let disableAnswer = message.disable_answer
        let messageId = message.id ? message.id : 0

        const messageElement = document.createElement('div');
        messageElement.classList.add('message', messageType);
        if (messageId)
            messageElement.setAttribute('data-mid', message.id);
        const textElement = document.createElement('pre');

        textElement.innerHTML = md.render(messageText);

        messageElement.appendChild(textElement);
        messagesContainer.appendChild(messageElement);

        console.log(messageElement);

        if (messageButtons) {
            messageButtons.forEach(btnText => {
                const btnElement = document.createElement('div');
                btnElement.setAttribute('data-mid', message.id);
                if (messageCallback) {
                    btnElement.setAttribute('data-callback', messageCallback)
                }
                if (disableAnswer) {
                    btnElement.setAttribute('data-disableAnswer', disableAnswer)
                }

                const btnTextPreElement = document.createElement('pre');
                const btnTextElement = document.createElement('p');
                btnElement.classList.add('message', 'incoming', 'message-btn');
                btnTextElement.textContent = btnText;
                btnElement.addEventListener('click', btnMessage);
                btnTextPreElement.appendChild(btnTextElement);
                btnElement.appendChild(btnTextPreElement);
                messagesContainer.appendChild(btnElement);
            });
        }

        window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth'
        });
    }

    // Функция добавления сообщения с файлом в интерфейс чата
    function appendMessageWithFile(file, comment, type) {
        const messageElement = document.createElement('div');
        messageElement.classList.add('message', type);
        if (type === 'incoming') {
            const avatar = document.createElement('img');
            avatar.src = "{{ url_for('static', filename='images/naita.webp') }}";
            avatar.alt = "Assistant Avatar";
            avatar.classList.add('chat-avatar');
            messageElement.appendChild(avatar);
        } else {
            const avatar = document.createElement('img');
            avatar.src = "{% if current_user.is_authenticated %}{{ url_for('static', filename='users/'+current_user.id|string+'/avatar.jpg') }}{% endif %}";
            avatar.alt = "User Avatar";
            avatar.classList.add('chat-avatar');
            messageElement.appendChild(avatar);
        }
        const textElement = document.createElement('pre');
        textElement.innerHTML = marked.parse(comment);
        messageElement.appendChild(textElement);
        messagesContainer.appendChild(messageElement);
        messagesContainer.scrollTop = messagesContainer.scrollHeight;

        // Добавление предпросмотра файла в зависимости от его типа
        let filePreviewElement;
        if (file.type.startsWith('image/')) {
            filePreviewElement = document.createElement('img');
            filePreviewElement.src = file.data;
            filePreviewElement.alt = file.name;
            filePreviewElement.style.maxWidth = '200px';
            filePreviewElement.style.borderRadius = '8px';
        } else if (file.type.startsWith('audio/')) {
            filePreviewElement = document.createElement('i');
            filePreviewElement.classList.add('fas', 'fa-file-audio');
            filePreviewElement.textContent = ` Файл: ${file.name}`;
        } else if (file.type.startsWith('video/')) {
            filePreviewElement = document.createElement('i');
            filePreviewElement.classList.add('fas', 'fa-file-video');
            filePreviewElement.textContent = ` Файл: ${file.name}`;
        } else {
            filePreviewElement = document.createElement('i');
            filePreviewElement.classList.add('fas', 'fa-file');
            filePreviewElement.textContent = ` Файл: ${file.name}`;
        }

        messageElement.appendChild(filePreviewElement);
        messagesContainer.appendChild(messageElement);
        messagesContainer.scrollTop = messagesContainer.scrollHeight;
    }

    function delMyMessages() {
        secureSocket.emit('delMyMessages');
    }

    async function fillInfo(e) {
        e.preventDefault();
        secureSocket.emit('fillInfo', {
            first_name: document.querySelector('#first-name').value,
            last_name: document.querySelector('#last-name').value,
            cv_link: document.querySelector('#cv-link').value,
        });
        fillInfoModal.hide();
    }

    function btnMessage(e) {
        let disableAnswer = false
        if (e.currentTarget.dataset.disableanswer)
            disableAnswer = true
        secureSocket.emit('messageBtnClick', {
            mid: e.currentTarget.dataset.mid,
            callback: e.currentTarget.dataset.callback,
            disableAnswer: disableAnswer,
            text: e.currentTarget.querySelector('p').textContent});
        inputMessage.value = e.currentTarget.querySelector('p').textContent;
        sendMessage(disableAnswer);
    }

    function testFun() {
        secureSocket.emit('testFun', {});
    }
</script>