#main-container {
    padding: 5% 3%!important;
}

#vacancies ul {
    list-style-type:  none;
    display: grid;
    grid-gap: 10px;
    padding: 0;
}

#vacancies ul li {
    background-color: white;
    padding: 20px 30px;
    border-radius: 16px;
    cursor: pointer;

    display: grid;
    grid-template-columns: 8fr 2fr 2fr;
}

#vacancies ul li:hover {
    font-weight: bold;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.users-avatars {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.li_a {
    text-decoration: none;
    color: black;
}

#vacancy-detailed-wrapper {
    display: grid;
    grid-gap: 15px;
}

.link-green {
    text-decoration: none;
    color: #84B800;
}

#chat-user-list {
    display: grid;
    grid-gap: 20px;
    height: 100%;
    overflow-y: scroll;
    border-right: 2px solid #E6E6E6;
    padding: 30px 10px 0 30px;
    align-content: start;
}

#chat-user-info {
    padding: 30px 30px 0 30px;
}

#vacancy-chat-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    height: 70vh;

    background: white;
    border-radius: 16px;
    box-shadow: 0px 4px 3px 0px #00000012;
    overflow-y: hidden;
}

.vacancy-chat-user-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    cursor: pointer;
}
.vacancy-chat-user-item:hover {
    font-weight: bold;
}
.vacancy-chat-user-item.active {
    font-weight: bold;
}

.vacancy-chat-user-item-avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-details-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.user-details-header .left {
    justify-self: start; /* Выравнивание по левому краю */
    text-align: left; /* Дополнительно для текста */
}
.user-details-header .right {
    justify-self: end; /* Выравнивание по правому краю */
    text-align: right; /* Дополнительно для текста */
}

.user-details-body-nav-btn-group {
    width: 100%;
    background-color: #F0F1F4;
    border-radius: 24px!important;
    padding: 5px;
}
.user-details-body-nav-btn-group .btn {
    border-radius: 24px;
}

.user-details-body-nav-btn-group .btn-check:checked + label {
    background-color: white;
    border-color: white;
}