#chat {}

#chat-container {
    position: relative!important;
}

#chat-input {
    display: grid;
    grid-template-columns: max-content auto max-content;
    background-color: #f4f4f4;
    border-radius: 16px;

    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(75% - 10px);
    padding: 5px 20px;
}

#file-input-container, #send-btn-container {
    width: 10%;
}

#chat-input textarea {
    width: 100%;
    background-color: #f4f4f4!important;
    border-color: #f4f4f4;
    resize: none;
}

#messages {
    padding: 15px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    font-weight: 500;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 16px;
    max-width: 75%;
    min-width: 25%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.message pre {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin: 0;
}

.message pre p {
    margin: 0;
}

.incoming {
    background-color: white;
    border: 1px solid #ECEBEB;
    align-self: flex-start;
}

.outgoing {
    background-color: #E8EBF2;
    border: 1px solid #E8EBF2;
    align-self: flex-end;
}

.outgoing a {
    color: black!important;
}

.incoming img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#input-message {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

#send-btn, #file-btn, #fullscreen-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #000;
}

#file-preview {
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
}

#assistant-typing {}