* {
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
}

body {
    background-color: #f4f4f4!important;
}

main {
    min-height: 100vh;
    background-color: white!important;
    padding: 100px 0 150px 0 !important;
    overflow: scroll;
}

#header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    align-items: center;
    background-color: white!important;
    border-bottom: 1px solid #f4f4f4;
    padding: .5% 2%;
    z-index: 1000;
}

#logo-wrapper {
    justify-content: start!important;
}

.profile-filled {
    border: 2px solid #C1FF05;
}

.custom-modal-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 5%;
    justify-content: center;
    align-content: center;
}

.VkIdSdk_oauth_item {
    background-color: #f4f4f4!important;
    border-radius: 24px!important;
    height: 50px!important;
}

.modal-body {
    padding: 2% 6% 10% 6%!important;
}

#verify-email-form .form-control {
    height: 50px!important;
}

#nav-menu {
    display: grid;
    grid-template-columns: 1fr;
}

#nav-logo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    justify-items: center;
    align-items: center;
}

#nav-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#nav-logo p {
    margin: 0 0 0 10px;
}

#user-info {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: end;
    justify-items: end;
    align-items: center;
    align-content: center;
}

#user-info>* {
    margin-left: 20px;
}

.btn {
    border-radius: 24px!important;
    height: 50px!important;
}

.border-red {
    border: 1px solid red!important;
}

.btn-lightgrey {
    background-color: #f4f4f4!important;
    border-color: #f4f4f4;
}

.btn-lightgrey i {
    font-size: 1.7rem;
    font-weight: bold;
}

.btn-lightgreen {
    background-color: #C1FF05!important;
    border-color: #C1FF05!important;
}

.login-btns-wrapper {
    display: grid;
}